{% extends 'base.html' %}

{% block content %}
{% load static %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <!-- start content -->
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Dashboard</h3>
                    <p class="text-subtitle text-muted"> Portable Patient Monitoring System</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- // Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">About</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <h5>About</h5>
                                <p>
                                    PPMS (Portable Patient Monitoring System) adalah proyek kerjasama antara Institut
                                    Teknologi Sepuluh Nopember (ITS) dengan Rumah Sakit Universitas Muhammadiah Malang
                                    (RS UMM) dengan pendanaan dari Institute of Electrical and Electronics Engineers
                                    (IEEE) Special Interest Group in Humanitarian Technology (IEEE SIGHT) dengan tahun
                                    anggaran 2021.
                                    Proyek ini dipimpin oleh Prof.Dr.Ir. Mauridhi Hery Purnomo, M.Eng selaku Professor
                                    pada bidang Kecerdasan buatan pada Biomedik ITS dan Senior Member IEEE Indonesian
                                    Section. Dengan dukungan Diah Risqiwati, ST., MT sebagai wakil ketua, Lailatul
                                    Husniah, S.ST., MT sebagai bendahara, Hanugra Aulia Sidharta, ST, M.MT sebagai
                                    penanggung jawab teknis, Wiwik Anggraeni S.Si.,M.Kom sebagai sekretaris, Sugiyanto,
                                    M.Kom sebagai penanggung jawab teknis dan Dr., Hj. Lailis Syafa'ah, MT sebagai
                                    narahubung dengan RS UMM.
                                    <br>
                                    Alat ini dibuat untuk membantu melakukan monitoring terhadap pasien selama berada di
                                    dalam ambulan hingga tiba di Rumah Sakit. Sejak wabah CoVid 19 melanda Indonesia
                                    terjadi penumpukan pasien yang tiba di ruang gawat darurat Rumah Sakit, untuk
                                    mengurangi penumpukan antrian di Rumah Sakit di ruang gawat darurat maka kami
                                    mengusulkan pembuatan PPMS. Dengan adanya PPMS maka diharapkan tanda vital dari
                                    pasien dapat diamati sejak di ambulan sehingga ketika sampai di ruang gawat darurat
                                    paramedis mendapatkan gambaran awal kondisi pasien.
                                </p>
                                <h5>Penjelasan Alat</h5>
                                <p>
                                    PPMS dikemas dalam koper yang berisikan tiga buah alat, antara lain BERRY PM 6100, Raspberry Pi 4 dan sebuah printer
                                    thermal. PM 6100 digunakan sebagai alat untuk monitor tanda vital dari pasien, ada 6 tanda vital yang dapat diamati,
                                    antara lain: SpO2, Heart Rate, Systole, Diastole, Respiratory dan suhu tubuh. Raspberry Pi 4 berfungsi sebagai alat
                                    pemroses tanda vital pasien dari PM 6100 menggunakan media nirkabel Bluetooth. Data tersebut dapat dicetak menggunakan
                                    printer thermal saat pasien telah tiba di rumah sakit. Semua data tersebut diakses oleh paramedis melalui website ini.
                                </p>
                                <img src='{% static "/dist/assets/images/bg/drone_gedung_utama1.jpg" %}'
                                    style="width: 300px; height: 300px;" alt="umm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Basic multiple Column Form section end -->
    </div>

    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; All right reserved.</p>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}