{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static "/dist/assets/css/bootstrap.css" %}'>

    <link rel="stylesheet" href='{% static "/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css" %}'>
    <link rel="stylesheet" href='{% static "/dist/assets/vendors/bootstrap-icons/bootstrap-icons.css" %}'>
    <link rel="stylesheet" href='{% static "/dist/assets/css/app.css" %}'>
    <link rel="shortcut icon" href='{% static "/dist/assets/images/favicon.svg" %}' type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="/"><img src='{% static "/dist/assets/images/logo/rsu-umm.png" %}' style="width: 100px; height: 100px;" alt="Logo"></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item  ">
                            <a href="/dashboard" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/patient" class='sidebar-link'>
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>Patient</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/about" class='sidebar-link'>
                                <i class="bi bi-people-fill"></i>
                                <span>About</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/faq" class='sidebar-link'>
                                <i class="bi bi-info-circle"></i>
                                <span>FAQ</span>
                            </a>
                        </li>
                        <li class="sidebar-title">Exit</li>
            
                        <li
                            class="sidebar-item  ">
                            <a href="{% url 'logout' %}" class='sidebar-link'>
                                <i class="bi bi-arrow-bar-left"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <!-- start main -->
        
        {% block content %}
            
        {% endblock content %}

        
    </div>
    <script src='{% static "/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js" %}'></script>
    <script src='{% static "/dist/assets/js/bootstrap.bundle.min.js" %}'></script>

    <script src='{% static "/dist/assets/js/mazer.js" %}'></script>
</body>

</html>
