{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <!-- start content -->
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Dashboard</h3>
                    <p class="text-subtitle text-muted"> Portable Patient Monitoring System</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- // Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">UMM Hospital - "Layananku Pengabdianku"</h4>
                            <p>Hi {{ name }} your device is connected from {{ macAddress }}</p>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <center>
                                    <a href="/"><img src='{% static "/dist/assets/images/bg/drone_gedung_utama1.jpg" %}'
                                            style="width: 300px; height: 300px;" alt="umm"></a>
                                </center>
                                <h6>Sejarah</h6>
                                <p>
                                    Rumah Sakit Universitas Muhammadiyah Malang mulai dibangun pada tahun 2009.
                                    Proses pembangunannya dilaksanakan setelah mendapatkan ijin mendirikan bangunan
                                    (IMB) dari Pemerintah Kabupaten Malang
                                    melalui unit pelayanan terpadu perizinan Nomor : 180/05989/IMB/421.302/2009.
                                    Pada bulan Oktober 2012 RS UMM mendapatkan izin Mendirikan Rumah Sakit dari Dinas
                                    Kesehatan Kabupaten Malang dengan Nomor : 503.1/83/421.103/2012.
                                    Kemudian pada tanggal 20 Juni 2013
                                    RS Universitas Muhammadiyah Malang mendapatkan Ijin Operasional Rumah Sakit
                                    Sementara dengan Nomor : 180/0006/IORS/421.302/2013.
                                </p>
                                <h6>Sejarah</h6>
                                <p>
                                    Rumah Sakit Universitas Muhammadiyah Malang mulai dibangun pada tahun 2009.
                                    Proses pembangunannya dilaksanakan setelah mendapatkan ijin mendirikan bangunan
                                    (IMB) dari Pemerintah Kabupaten Malang
                                    melalui unit pelayanan terpadu perizinan Nomor : 180/05989/IMB/421.302/2009.
                                    Pada bulan Oktober 2012 RS UMM mendapatkan izin Mendirikan Rumah Sakit dari Dinas
                                    Kesehatan Kabupaten Malang dengan Nomor : 503.1/83/421.103/2012.
                                    Kemudian pada tanggal 20 Juni 2013
                                    RS Universitas Muhammadiyah Malang mendapatkan Ijin Operasional Rumah Sakit
                                    Sementara dengan Nomor : 180/0006/IORS/421.302/2013.
                                    <br>
                                    Rumah sakit Universitas Muhammadiyah Malang diresmikan pada tanggal 17 Agustus 2013
                                    bertepatan dengan hari kemerdekaan Republik Indonesia yang ke 68.
                                    Rumah sakit ini merupakan sarana penunjang pendidikan dan merupakan salah satu
                                    profit center dari Universitas Muhammadiyah Malang.
                                    Lokasi rumah sakit tidak jauh dari Kampus 3 Universitas Muhammadiyah Malang yaitu
                                    tepatnya di sebelah timur terminal Landungsari.
                                    Berdiri diatas tanah seluas 9 hektare dan memiliki bangunan utama setinggi 6 lantai
                                    dan beberapa bangunan gedung penunjang setinggi 5 lantai
                                    dan gedung rawat inap setinggi 3 lantai.
                                    Bentuk bangunan yang megah dan mewah dengan ciri khas arsitektur tiongkok,
                                    menjadikan RS Universitas Muhammadiyah Malang ini mudah dikenali.
                                </p>
                                <h6>Visi</h6>
                                <p>
                                    Menjadi rumah sakit pilihan masyarakat dengan keunggulan dalam pelayanan kesehatan
                                    komprehensif, bermutu tinggi, aman dan efektif.
                                </p>
                                <h6>Misi</h6>
                                <p>
                                <ul>
                                    <li>Menyelenggarakan pelayanan kesehatan secara utuh, terpadu dan bermutu serta meminimalisasi kejadian infeksi</li>
                                    <li>Menyelenggarakan manajemen dan peningkatan kualitas sumber daya manusia.</li> 
                                    <li>Penguasaan ilmu dan teknologi serta pengembangan layanan unggulan.</li>
                                    <li>Memperhatikan dan merespon keluhan/kritik dan hak pasien beserta keluarga</li>
                                    <li>Menjadi tempat pendidikan dan penelitian tenaga kesehatan dalam rangka
                                        meningkatkan derajat kesehatan masyarakat.</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Basic multiple Column Form section end -->
    </div>

    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; All right reserved.</p>
            </div>
            <div class="float-end">
                <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i> in Samarinda</span></p>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}