{% extends 'base.html' %}

{% block content %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <!-- start content -->
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Frequently Asked Question</h3>
                    <p class="text-subtitle text-muted"> Portable Patient Monitoring System</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- // Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Frequently Asked Question</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <p>
                                    PM 6100 adalah alat monitoring pasien yang dibuat oleh BERRY med yang didesain dalam
                                    bentuk yang ringkas. Alat ini dilengkapi dengan baterai tanam agar mudah
                                    dioperasikan secara mandiri.
                                    Penjelasan antar muka dari PM6100 antara lain:
                                <ol>
                                    <li>
                                        Status bunyi beep
                                        <ul>
                                            <li>Gambar speaker berarti alat akan mengeluarkan bunyi beep</li>
                                            <li>Gambar speaker dicoret berarti alat tidak mengeluarkan bunyi beep</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Status Bluetooth
                                        <ul>
                                            <li>Apabila logo bluetooth berkedip menandakan belum tersambung</li>
                                            <li>Apabila logo bluetooth tidak berkedip menandakan sudah tersambung</li>
                                        </ul>
                                    </li>
                                    <li>Status baterai</li>
                                    <li>Menu bunyi beep, pilih menu ini untuk menyalakan atau mematikan bunyi beep</li>                           
                                    <li>Menu bluetoth, pilih menu ini untuk menyalakan atau mematikan bluetooth</li>
                                    <li>Menu untuk memulai pengukuran tensi</li>
                                    <li>Menu off, pilih menu ini untuk mematikan alat</li>
                                    <li>Hasil pengukuran PM 6100</li>
                                </ol>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Basic multiple Column Form section end -->
    </div>

    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; All right reserved.</p>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}