{% extends 'base.html' %}

{% block content %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <!-- start content -->
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Data Patient</h3>
                    <p class="text-subtitle text-muted">Fill this form</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Patient Layout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- // Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Patient Form</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form" action="{% url 'input_data' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label for="patient-name-column">Patient Name</label>
                                                <input type="text" id="patient-name-column" class="form-control"
                                                    name="patient_name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label for="address-column">Address</label>
                                                <input type="text" id="address-column" class="form-control"
                                                    placeholder="Address" name="address">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="date-of-birth-floating">Date of Birth</label>
                                                <input type="date" name="dob" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="last-name-column">Gender</label>
                                                <select class="form-control" name="gender" id="gender-column">
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label for="vln rate-floating">Vehicle License Number</label>
                                                <input type="text" id="vln rate-floating" class="form-control"
                                                    name="license_number" value="{{ licenseNumber }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <input type="submit" class="btn btn-primary me-1 mb-1" value="submit"/>
                                            <button type="reset"
                                                class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Basic multiple Column Form section end -->
    </div>

    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; All right reserved.</p>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}
    