{% extends 'base.html' %}

{% block content %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <!-- start content -->
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Data Report</h3>
                    <p class="text-subtitle text-muted">Detail report</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Patient Layout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- // Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Report Form</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form" action="{% url 'print_data' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <p>Paramedic: {{ name }}</p>
                                        <p>Gender: {{ gender }}</p>
                                        <p>Patient Name: {{ patient_name }}</p>
                                        <p>Address: {{ address }}</p>
                                        <p>Age: {{ age }}</p>
                                        <p>Gender: {{ gender }}</p>
                                        <p>Systolic: {{ sys }}</p>
                                        <p>Diastolic: {{ dia }}</p>
                                        <p>Temperature: {{ suhu }}</p>
                                        <p>Oxygen Saturation: {{ spo }}</p>
                                        <p>Heart Rate: {{ hr }}</p>
                                        <p>Respiration Rate: {{ resp }} </p>
                                        <div class="col-12 d-flex justify-content-end">
                                            <input type="submit" class="btn btn-success me-1 mb-1" value="Print"/>
                                            <a class="btn btn-light-secondary me-1 mb-1" href="/patient">Back to Form Patient</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Basic multiple Column Form section end -->
    </div>

    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; All right reserved.</p>
            </div>
            <div class="float-end">
                <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i> in Samarinda</span></p>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}
    